$epos360-primary: #58cc52;
$epos360-secondary: #1323a6;

body.epos360 {
  background-color: #f9f9f9;
  #content {
    background-color: #f9f9f9;
  }
  @import "./sections/section-banner360";
  @import "./sections/section-download";
  @import "./gsap";

  font-family: "Poppins", sans-serif !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif !important;
    letter-spacing: -0.02em !important;
    line-height: 1.18em !important;
    font-weight: 700 !important;
  }
  p,
  a,
  span {
    font-family: "Poppins", sans-serif !important;
  }
  p {
    color: #4b5563;
    font-weight: 400 !important;
    font-size: 18px;
    letter-spacing: 0px !important;
    line-height: 27px !important;
  }
  .text-primary {
    color: $epos360-primary !important;
    h1,
    h2,
    h3 {
      color: $epos360-primary !important;
    }
  }
  .text-secondary {
    color: $epos360-secondary !important;
    h1,
    h2,
    h3 {
      color: $epos360-secondary !important;
    }
  }
  .text-black {
    color: #111827 !important;
    h1,
    h2,
    h3 {
      color: #111827 !important;
    }
  }
  .text-black-2 {
    color: #111827 !important;
    h1,
    h2,
    h3 {
      color: #111827 !important;
    }
  }
  .bg-white {
    background-color: #f9f9f9 !important;
  }
  .text-white {
    color: #fff !important;
    h2 {
      color: #fff !important;
    }
  }
  .text-white-2 {
    color: #d1d5db !important;
    h2 {
      color: #d1d5db !important;
    }
  }
  .fs-36px {
    @include desktop {
      font-size: 36px !important;
    }
    font-size: 28px !important;
    h2 {
      @include desktop {
        font-size: 36px !important;
      }
      font-size: 28px !important;
    }
  }
  .fs-18 {
    font-size: 16px;
    @include desktop {
      font-size: 18px !important;
    }
    p {
      font-size: 16px;
      @include desktop {
        font-size: 18px !important;
      }
    }
  }
  .button {
    &.secondary {
      background-color: $epos360-secondary !important;
    }
    &.primary {
      background-color: $epos360-primary !important;
    }
  }
  .container,
  .row {
    @include desktop {
      max-width: 1440px !important;
    }
  }
  .header-inner {
    height: 80px;
  }
  .stuck .header-main {
    height: 80px !important;
  }
  .text-info {
    p {
      color: #111827;
    }
  }

  //button
  .button {
    border: 1px solid !important;
    border-radius: 8px !important;
    margin-top: 11px;
    margin-bottom: 11px;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-align: center !important;
    letter-spacing: 0 !important;
    line-height: 18px !important;
    padding: 8px 20px !important;
    &.secondary {
      &.button-secondary-epos360 {
        border-color: $epos360-secondary !important;
        color: #fff !important;
        &.out-line {
          border-color: $epos360-secondary !important;
          color: $epos360-secondary !important;
          background-color: white !important;
        }
        &:hover {
          background-color: black !important;
          color: white !important;
          border-color: black !important;
        }
      }
    }
    &.primary {
      &.button-add-to-cart {
        background-color: $epos360-primary !important;
        border-color: $epos360-primary !important;
        color: #fff !important;
      }
    }
  }

  #content {
    .icon-box {
      margin-bottom: 8px;
      @include desktop {
        margin-bottom: 5px;
      }
      &.rounded-14 {
        .icon-box-img {
          img {
            border-radius: 0 !important;
          }
        }
      }
      .icon-box-text {
        p {
          font-size: 14px !important;
          @include desktop {
            font-size: 16px !important;
          }
        }
      }
    }
    .product-bluetap {
      .col-inner {
        .row {
          .col {
            .col-inner {
              .product-sub-title {
                p {
                  font-size: 16px !important;
                  font-weight: medium;
                }
              }
              .product-title {
                h2 {
                  color: $main-ldp !important;
                  font-size: 28px !important;
                  font-weight: bold;
                  @include desktop {
                    font-size: 36px !important;
                  }
                }
              }
              .product-des {
                p {
                  font-size: 18px;
                }
              }
              .product-price {
                h3 {
                  margin-bottom: 0 !important;
                  .sale-price {
                    color: $main-ldp !important;
                    font-size: 28px !important;
                    font-weight: bold;
                    @include desktop {
                      font-size: 36px !important;
                    }
                  }
                  .regular-price {
                    color: gray !important;
                    text-decoration: line-through;
                    font-weight: normal !important;
                    font-size: 24px !important;
                    @include desktop {
                      font-size: 20px !important;
                    }
                  }
                }
              }
              .product-thumbnail {
                img {
                  @include desktop {
                    height: 450px;
                  }
                  height: 300px;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
    .section-product {
      .bg-white.col {
        .col-inner {
          background-color: #f3f4f6 !important;

          p {
            background-color: #f3f4f6 !important;
          }

          img {
            border-radius: 0 !important;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    #main {
      .fp-section {
        display: block !important;
        height: 100%;
      }

      .section-grow {
        .s5-tabs {
          .tab {
            opacity: 1;
          }
        }

        .img-1,
        .img-2,
        .img-3 {
          position: relative;
          inset: auto;
        }
      }
    }
  }
  .mobile-left {
    .mobile-nav {
      display: none !important;
    }
  }
  .pb-lg-0 {
    @include desktop {
      padding-bottom: 0px !important;
    }
  }
  .px-lg-4 {
    @include desktop {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
  }
  .mt-1 {
    margin-top: 1rem !important;
  }
  .mt-2 {
    margin-top: 2rem !important;
  }
  .ps-1 {
    padding-left: 1rem !important;
  }
  .text-info {
    h4 {
      font-weight: bold !important;
      font-size: 16px !important;
      color: $epos360-primary !important;
      line-height: 20px !important;
      letter-spacing: 0px !important;
    }
    p {
      font-weight: 600 !important;
      font-size: 24px !important;
      line-height: 31.2px !important;
      letter-spacing: -0.48px !important;
      display: block !important;
      width: 320px !important;
    }
  }
  .header-360 {
    .header-wrapper {
      background-color: #f9f9f9 !important;
    }
  }

  .footnotes {
    p {
      font-size: 11px;
      margin-bottom: 23px !important;
    }
    ol {
      font-size: 11px;
      margin-bottom: 0 !important;
      li {
        font-size: 11px;
        margin-bottom: 7px !important;
      }
    }
  }
  .box {
    .box-text {
      padding-top: 14px !important;
      .box-text-inner {
        .text {
          p {
            font-size: 16px !important;
            font-weight: 400 !important;
            line-height: 24px !important;
            letter-spacing: 0px !important;
          }
        }
      }
    }
  }
}
