.quantity {
  .button.is-form {
    background: $blue-dark;
    text-shadow: none !important;
    color: #fff !important;
    &:hover {
      background: $blue-dark;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.woocommerce-help-tip::after {
  font-family: Dashicons;
  speak: never;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 1px;
  right: -20px;
  width: 16px;
  height: 16px;
  text-align: center;
  content: "\f223";
  cursor: help;
}
a.button {
  span {
    font-weight: 600;
  }
}
.button {
  border-radius: 12px !important;
  padding: 8px 12px !important;
  @include desktop {
    border-radius: 12px !important;
    padding: 8px 24px !important;
  }
  border: none !important;
  &.is-form {
    padding: 0 8px !important;
    border-radius: 5px !important;
  }
  &.primary {
    background: $color-ldp !important;
    color: white !important;
  }
  &.secondary {
    background: $blue-dark !important;
    color: white !important;
    &.is-outline {
      border: 2px solid $blue-dark !important;
      color: $blue-dark !important;
      background: transparent !important;
      &:hover {
        background: $blue-dark !important;
        color: white !important;
      }
    }
  }
  &.outline {
    border: 2px solid $blue-dark !important;
    color: $blue-dark !important;
    background: transparent !important;
    &:hover {
      background: $blue-dark !important;
      color: white !important;
    }
  }

  &.back-to-top {
    border-radius: 50% !important;
    padding: 4px 15px !important;
  }
  &.button-tab {
    padding: 3px 5px !important;
    border-radius: 8px !important;
    color: $blue-dark !important;
    border: 1px solid $blue-dark !important;
    background: transparent !important;
    width: 100%;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 25%;
    }
    &:hover {
      background: $blue-dark !important;
      color: white !important;
    }
    span {
      font-size: 14px;
    }
  }
  span {
    font-family: "Montserrat", sans-serif !important;
  }
}

.btn-ldp {
  background-color: $color-ldp !important;
  border-radius: $radius !important;
  font-weight: 500;
  &.white {
    width: fit-content;
    max-width: 250px;
    background-color: #fff !important;
    color: $color-ldp !important;
  }
  &.large {
    padding: 4px 18px;
    border-radius: 30px !important;
    @include tablet {
      padding: 8px 24px;
      border-radius: 30px !important;
    }
  }
  &.border {
    border: 1px solid #fff;
    background: transparent !important;
  }
  &.main {
    background: $blue-dark !important;
  }
}
