.button {
  border-radius: 0.25rem !important;
}
.quantity {
  .button.is-form {
    background: $blue;
    text-shadow: none !important;
    color: #fff !important;
    &:hover {
      background: #1b459b;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.woocommerce-help-tip::after {
  font-family: Dashicons;
  speak: never;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 1px;
  right: -20px;
  width: 16px;
  height: 16px;
  text-align: center;
  content: "\f223";
  cursor: help;
}

.button {
  border-radius: 30px !important;
  padding: 8px 24px !important;
  &.primary {
    background: #2eaf7d !important;
    color: white !important;
  }
  &.secondary {
    background: #1b459b !important;
    color: white !important;
  }
  &.outline {
    border: 1px solid white !important;
    color: white !important;
    background: transparent !important;
    &:hover {
      background: rgba(0, 0, 0, 0.089) !important;
    }
  }
  &.back-to-top {
    border-radius: 50% !important;
    padding: 4px 15px !important;
  }
  &.menu-btn-demo,
  &.menu-btn-shop {
    background: #1b459b !important;
    padding: 0.25rem 0.75rem !important;
    border-radius: 0.25rem !important;
  }
}

.btn-ldp {
  background-color: $color-ldp !important;
  border-radius: $radius !important;
  font-weight: 500;
  &.white {
    width: fit-content;
    max-width: 250px;
    background-color: #fff !important;
    color: $color-ldp !important;
  }
  &.large {
    padding: 4px 18px;
    border-radius: 30px !important;
    @include tablet {
      padding: 8px 24px;
      border-radius: 30px !important;
    }
  }
  &.border {
    border: 1px solid #fff;
    background: transparent !important;
  }
  &.main {
    background: $blue !important;
  }
}
