.mfp-bg {
  background: #1b459b !important;
}

.lightbox-content {
  border-radius: 8px !important;
}
.shin-popup {
  .mfp-close {
    opacity: 1 !important;
    display: block;
    svg {
      fill: #000000 !important;
      transition: all 0.3 linear;
      // pointer-events: all !important;
    }
    &:hover {
      svg {
        fill: #1b459b !important;
      }
    }
  }
}

.ldp-highlight {
  color: $color-ldp !important;
}
.ldp-img-box {
  display: flex;
  flex-wrap: nowrap;

  .box-image {
    min-width: 60px;
    min-height: 60px;
    margin-left: 0px;
    margin-right: 10px;
    @include tablet {
      margin-right: 20px;
    }
    img {
      object-fit: scale-down;
    }
  }
  .box-text {
    width: calc(100% - 80px);
    padding-top: 0px;

    h4 {
      font-weight: bold;
      color: $main-ldp;
      padding-bottom: 15px;
      margin: 0;
      line-height: 1;
      font-size: 18px;
      @include tablet {
        font-size: 24px;
      }
    }
    p {
      color: $text-ldp;
    }
  }
}

.ldp-image-box {
  height: 100%;
  border-radius: $radius;
  overflow: hidden;
  padding: 15px;
  @include tablet {
    padding: 30px;
  }
  .box-text-inner {
    h3 {
      color: $main-ldp;
    }
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.center-mobile {
  .col-inner {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
}
.mb-0 {
  p {
    margin-bottom: 0px !important;
  }
}
.pr-0 {
  @include tablet {
    padding-right: 0px !important;
  }
}
.col-mid {
  display: flex;
  .col-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.hide-arrow {
  .flickity-button {
    display: none;
    visibility: hidden;
  }
}
.slick-dots {
  bottom: -50px !important;
  li {
    width: 5px !important;
  }
}
@media (min-width: 768px) {
  .slick-dots li {
    width: 20px !important;
    margin-left: 10px !important;
  }
}
.slick-dots li button:before {
  color: $color-ldp !important;
  transition: all 0.2s linear;
  font-size: 8px !important;
  width: 15px !important;
  height: 15px !important;
}
@media (min-width: 768px) {
  .slick-dots li button:before {
    font-size: 14px !important;
    width: 20px !important;
    height: 15px !important;
  }
}
.slick-dots li button:before:hover {
  color: $color-ldp !important;
}
.slick-track {
  display: flex !important;
  gap: 15px;
}
.ldp-footer .col-inner {
  overflow: hidden;
  border-radius: $radius;
  .ldp-hbspt {
    margin-bottom: -15px;
    .col {
      padding-bottom: 0px !important;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.mobile-col-reverse {
  flex-direction: column-reverse !important;
  @include tablet {
    flex-direction: row !important;
  }
}
.rounded {
  border-radius: 15px !important;
  .col-inner {
    border-radius: 15px !important;
  }
  img {
    border-radius: 15px !important;
  }
}
.section {
  &.bg-image {
    margin: 30px !important;
    width: auto !important;
    @include only-mobile {
      margin: 10px !important;
    }
    @include only-tablet {
      margin: 15px !important;
    }
  }
  &.rounded {
    border-radius: 30px !important;
    .section-bg {
      border-radius: 30px !important;
      opacity: 0.2;
    }
    .section-bg-overlay {
      opacity: 0.2;
    }
  }
}

.icon-style-bg-color {
  .icon {
    background-color: $color-ldp !important;
    padding: 6px 10px 10px;
    border-radius: 15px;
  }
}
.icon-box-text {
  h3 {
    color: $title-icon-box-color !important;
  }
}
.bg-blue-light {
  .col-inner {
    background-color: $blue-light !important;
  }
}
.bg-blue-light-2 {
  .col-inner {
    background-color: $blue-light-2 !important;
  }
}
.bg-green-light {
  .col-inner {
    background-color: $color-ldp-2 !important;
  }
}

.bg-blue-dark {
  .col-inner {
    background-color: $blue-dark !important;
  }
}

.box-price {
  .col-inner {
    padding: 15px !important;
    height: 100%;
    @include tablet {
      padding: 30px !important;
    }
    .icon-box {
      margin-bottom: 10px;
    }
    h2 {
      font-size: 28px !important;
    }
    h3 {
      color: $blue-dark !important;
      font-size: 16px !important;
    }
  }
  &.white {
    .col-inner {
      background-color: white !important;
      box-shadow: $shadow !important;
    }
  }
}
.p-1 {
  .col-inner {
    padding: 10px !important;
  }
}
.p-2 {
  .col-inner {
    padding: 15px !important;
  }
}
.p-3 {
  .col-inner {
    padding: 20px !important;
  }
}