.mfp-bg {
  background: #1b459b !important;
}

.lightbox-content {
  border-radius: 8px !important;
}
.shin-popup {
  .mfp-close {
    opacity: 1 !important;
    display: block;
    svg {
      fill: #000000 !important;
      transition: all 0.3 linear;
      // pointer-events: all !important;
    }
    &:hover {
      svg {
        fill: #1b459b !important;
      }
    }
  }
}

.ldp-highlight {
  color: $color-ldp !important;
}
.ldp-img-box {
  &.has-icon-bg-blue {
    .image-cover {
      background-color: $blue-dark;
      display: inline-block;
      width: 54px;
      height: 54px;
      padding: 0 !important;
      position: relative;
      border-radius: 8px;
    }
    .image-cover img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      padding: 5px;
      border-radius: 8px;
    }
  }
  display: flex;
  flex-wrap: nowrap;

  .box-image {
    min-width: 60px;
    min-height: 60px;
    margin-left: 0px;
    margin-right: 10px;
    @include tablet {
      margin-right: 20px;
    }
    img {
      object-fit: scale-down;
    }
  }
  .box-text {
    width: calc(100% - 80px);
    padding-top: 0px;

    h4 {
      font-weight: bold;
      color: $main-ldp;
      padding-bottom: 15px;
      margin: 0;
      line-height: 1;
      font-size: 18px;
      @include tablet {
        font-size: 24px;
      }
    }
    p {
      color: $text-ldp;
    }
  }
}

.ldp-image-box {
  height: 100%;
  border-radius: $radius;
  overflow: hidden;
  padding: 15px;
  @include tablet {
    padding: 30px;
  }
  .box-text-inner {
    h3 {
      color: $main-ldp;
    }
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.center-mobile {
  .col-inner {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
}
.mb-0 {
  p {
    margin-bottom: 0px !important;
  }
}
.pr-0 {
  @include tablet {
    padding-right: 0px !important;
  }
}
.col-mid {
  display: flex;
  .col-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.hide-arrow {
  .flickity-button {
    display: none;
    visibility: hidden;
  }
}
.slick-dots {
  bottom: -50px !important;
  li {
    width: 5px !important;
  }
}
@media (min-width: 768px) {
  .slick-dots li {
    width: 20px !important;
    margin-left: 10px !important;
  }
}
.slick-dots li button:before {
  color: $color-ldp !important;
  transition: all 0.2s linear;
  font-size: 8px !important;
  width: 15px !important;
  height: 15px !important;
}
@media (min-width: 768px) {
  .slick-dots li button:before {
    font-size: 14px !important;
    width: 20px !important;
    height: 15px !important;
  }
}
.slick-dots li button:before:hover {
  color: $color-ldp !important;
}
.slick-track {
  display: flex !important;
  gap: 15px;
}
.ldp-footer .col-inner {
  overflow: hidden;
  border-radius: $radius;
  .ldp-hbspt {
    margin-bottom: -15px;
    .col {
      padding-bottom: 0px !important;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.mobile-col-reverse {
  flex-direction: column-reverse !important;
  @include tablet {
    flex-direction: row !important;
  }
}
.rounded {
  border-radius: 15px !important;
  .col-inner {
    border-radius: 15px !important;
  }
  &.col-inner {
    border-radius: 15px !important;
  }
  img {
    border-radius: 15px !important;
  }
  .img-inner {
    border-radius: 15px !important;
  }
  .icon-box-img {
    img {
      border-radius: 0 !important;
    }
  }
}
.section {
  &.bg-image {
    margin: 10px !important;
    width: auto !important;
    @include desktop {
      margin: 30px !important;
    }
    @include tablet {
      margin: 15px !important;
    }
  }
  &.no-opacity {
    .section-bg {
      opacity: 1 !important;
    }
  }
  &.rounded {
    border-radius: 30px !important;
    .section-bg {
      border-radius: 30px !important;
      opacity: 0.2;
    }
    .section-bg-overlay {
      opacity: 0.2;
    }
    &.section-bg-img {
      .section-bg {
        opacity: 1 !important;
      }
    }
  }
}

.icon-style-bg-color {
  .icon {
    background-color: $color-ldp !important;
    padding: 6px 10px 10px;
    border-radius: 15px;
  }
  &.icon-blue {
    .icon {
      background-color: $blue-dark !important;
      padding: 6px 10px 10px;
      border-radius: 15px;
    }
  }
}
.icon-box-text {
  h3 {
    color: $title-icon-box-color !important;
  }
}
.bg-blue-light {
  > .col-inner {
    background-color: $blue-light !important;
  }
}
.bg-blue-light-2 {
  > .col-inner {
    background-color: $blue-light-2 !important;
  }
}
.bg-green-light {
  > .col-inner {
    background-color: $color-ldp-2 !important;
  }
}

.bg-blue-dark {
  > .col-inner {
    background-color: $blue-dark !important;
  }
}

.bg-white {
  > .col-inner {
    background-color: white !important;
  }
}

.box-price {
  > .col-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 15px !important;
    height: 100%;
    @include tablet {
      padding: 30px !important;
    }
    .icon-box {
      margin-bottom: 10px;
    }
    h2 {
      font-size: 28px !important;
    }
    h3 {
      color: $blue-dark !important;
      font-size: 16px !important;
    }
  }
  &.white {
    > .col-inner {
      background-color: white !important;
      box-shadow: $shadow !important;
    }
  }
  .section-title {
    height: 230px !important;
    .col {
      padding: 0 !important;
      height: 100%;
    }
    .col-inner {
      height: 220px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding: 15px !important;
    }
  }
  .section-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    .col {
      padding: 0 !important;
    }
    .col-inner {
      height: 100%;
      padding: 15px !important;
      .icon-box {
        margin-bottom: 20px;
      }
    }
  }
  .section-button {
    width: 100% !important;
    .col-inner {
      padding: 15px !important;
      display: flex;
      justify-content: center;
      .button {
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }
}
.p-1 {
  > .col-inner {
    padding: 10px !important;
  }
}
.p-2 {
  > .col-inner {
    padding: 15px !important;
  }
}
.p-3 {
  > .col-inner {
    padding: 20px !important;
  }
}
.p-4 {
  > .col-inner {
    padding: 25px !important;
  }
}
.p-5 {
  > .col-inner {
    padding: 30px !important;
  }
}
.blog-single {
  .full-width-1 {
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.shadow {
  > .col-inner {
    box-shadow: $shadow !important;
  }
}

.rounded-1 {
  border-radius: 8px !important;
  &.button {
    border-radius: 8px !important;
  }
  .img-inner {
    img {
      border-radius: 15px !important;
    }
  }
}
.fit-content {
  width: fit-content !important;
}
.w-50 {
  width: 50% !important;
}
.w-30 {
  width: 30% !important;
}
.w-25 {
  width: 25% !important;
}
.w-20 {
  width: 20% !important;
}

.fs-11px{ 
  font-size: 11px !important;
}
.fs-14{
  font-size: 0.9rem !important;
}
.fs-32 {
  font-size: 24px !important;
  @include desktop {
    font-size: 32px !important;
  }
  h2 {
    font-size: 24px !important;
    @include desktop {
      font-size: 32px !important;
    }
  }
}
.fs-38 {
  font-size: 32px !important;
  @include desktop {
    font-size: 38px !important;
  }
  h2 {
    font-size: 32px !important;
    @include desktop {
      font-size: 38px !important;
    }
  }
}
.fs-28 {
  font-size: 24px !important;
  h2 {
    font-size: 24px !important;
    @include desktop {
      font-style: 28px !important;
    }
  }
  @include desktop {
    font-size: 28px !important;
  }
}
.fs-26 {
  font-size: 22px !important;
  h2 {
    font-size: 22px !important;
    @include desktop {
      font-style: 26px !important;
    }
  }
  @include desktop {
    font-size: 26px !important;
  }
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
  h2 {
    font-size: 18px !important;
  }
}
.fs-20 {
  font-size: 20px !important;
  h2 {
    font-size: 20px !important;
  }
}
.fs-24 {
  font-size: 24px !important;
  h2 {
    font-size: 24px !important;
  }
}
.fs-32 {
  font-size: 28px !important;
  @include desktop {
    font-size: 32px !important;
  }

  h2 {
    font-size: 28px !important;
    @include desktop {
      font-size: 32px !important;
    }
  }
}
.p-0 {
  padding: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  @include desktop {
    padding-bottom: 0 !important;
  }
}
.p-1 {
  padding: 5px !important;
  @include desktop {
    padding: 10px !important;
  }
}
.p-2 {
  padding: 10px !important;
  @include desktop {
    padding: 20px !important;
  }
}
.p-3 {
  padding: 15px !important;
  @include desktop {
    padding: 30px !important;
  }
}
.p-4 {
  padding: 20px !important;
  @include desktop {
    padding: 40px !important;
  }
}
.p-5 {
  padding: 25px !important;
  @include desktop {
    padding: 50px !important;
  }
}
// padding Top and Bottom
.py-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  @include desktop {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
.py-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  @include desktop {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
.py-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  @include desktop {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}
.py-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  @include desktop {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

//padding left and right
.px-4 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  @include desktop {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
.px-3 {
  padding-left: 15px !important;
  padding-right: 15px !important;
  @include desktop {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  @include desktop {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
  @include desktop {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
//padding top
.pt-4 {
  padding-top: 20px !important;
  @include desktop {
    padding-top: 40px !important;
  }
}
.pt-3 {
  padding-top: 15px !important;
  @include desktop {
    padding-top: 30px !important;
  }
}
.pt-2 {
  padding-top: 10px !important;
  @include desktop {
    padding-top: 20px !important;
  }
}
.pt-26px {
  @include desktop {
    padding-top: 26px !important;
  }
  padding-top: 16px !important;
}
.pt-1 {
  padding-top: 5px !important;
  @include desktop {
    padding-top: 10px !important;
  }
}
//padding bottom
.pb-4 {
  padding-bottom: 20px !important;
  @include desktop {
    padding-bottom: 40px !important;
  }
}
.pb-3 {
  padding-bottom: 15px !important;
  @include desktop {
    padding-bottom: 30px !important;
  }
}
.pb-2 {
  padding-bottom: 10px !important;
  @include desktop {
    padding-bottom: 20px !important;
  }
}
.pb-1 {
  padding-bottom: 5px !important;
  @include desktop {
    padding-bottom: 10px !important;
  }
}
//padding left
.ps-4 {
  padding-left: 20px !important;
  @include desktop {
    padding-left: 40px !important;
  }
}
.ps-3 {
  padding-left: 15px !important;
  @include desktop {
    padding-left: 30px !important;
  }
}
.ps-2 {
  padding-left: 10px !important;
  @include desktop {
    padding-left: 20px !important;
  }
}
.ps-1 {
  padding-left: 5px !important;
  @include desktop {
    padding-left: 10px !important;
  }
}
//padding right
.pe-4 {
  padding-right: 20px !important;
  @include desktop {
    padding-right: 40px !important;
  }
}
.pe-3 {
  padding-right: 15px !important;
  @include desktop {
    padding-right: 30px !important;
  }
}
.pe-2 {
  padding-right: 10px !important;
  @include desktop {
    padding-right: 20px !important;
  }
}
.pe-1 {
  padding-right: 5px !important;
  @include desktop {
    padding-right: 10px !important;
  }
}
.pe-60px {
  padding-right: 60px !important;
}
.pe-80px {
  padding-right: 80px !important;
}

.h-100 {
  .col-inner {
    height: 100% !important;
    .icon-box {
      height: 100% !important;
      padding: 20px;
    }
  }
}
.text-primary {
  color: $color-ldp !important;
}
.text-secondary {
  color: $blue-dark !important;
}
.text-black {
  color: $main-ldp !important;
  h2 {
    color: $main-ldp !important;
  }
}
.fw-bold {
  font-weight: bold !important;
}
