body {
  &.epos360-bluetap {
    #content {
      background: #ffffff;
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(217, 241, 253, 1) 24%,
        rgba(217, 241, 253, 1) 41%,
        rgba(255, 255, 255, 1) 54%,
        rgba(217, 241, 253, 1) 66%,
        rgba(255, 255, 255, 1) 88%,
        rgba(255, 255, 255, 1) 100%
      ) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

    .ldp-claim-row {
      background-image: url("/wp-content/uploads/2026/02/Intro-Section.png");
      border-radius: 24px;
      overflow: hidden;
      .content-img {
        padding: 0px !important;
      }
      .content-col {
        padding: 20px !important;
      }
    }
    //
    .phone {
      width: 100%;
      height: 720px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
    }

    .video-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      aspect-ratio: 9/16;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      background: #000;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* Overlay */
    .play-overlay {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: opacity 0.3s ease;
      background: rgba(0, 0, 0, 0.3);
    }

    .play-overlay.hide {
      opacity: 0;
      pointer-events: none;
    }

    .play-overlay::before {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.9);
      position: absolute;
    }

    .play-overlay::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 35px solid white;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      margin-left: 8px;
    }

    //
    .products {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      align-items: flex-end;
      margin-bottom: 40px;
      .product {
        text-align: center;
        img {
          max-width: 160px;
          height: auto;
        }
        h3 {
          margin-top: 12px;
          font-size: 16px;
          font-weight: 600;
          color: #1a2b6d;
        }
      }
    }

    .comparison-table {
      width: 100%;
      border-collapse: collapse;
      border: 0px !important;
      th {
        vertical-align: top;
        font-size: 14px;
        width: 25%;
        text-align: left;
        font-weight: 600;
        color: #555;
        padding: 20px !important;
        border: 0px !important;
        border-bottom: 1px solid #ececec !important;
        text-transform: capitalize;
        vertical-align: middle;
      }
      td {
        vertical-align: middle;
        font-size: 14px;
        width: 25%;
        color: #333;
        border: 0px !important;
        padding: 20px !important;
        border-bottom: 1px solid #ececec !important;
      }
    }
  }
}
