body {
  &.epos360-bluetap {
    #content {
      background: #ffffff;
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(217, 241, 253, 1) 24%,
        rgba(217, 241, 253, 1) 41%,
        rgba(255, 255, 255, 1) 54%,
        rgba(217, 241, 253, 1) 66%,
        rgba(255, 255, 255, 1) 88%,
        rgba(255, 255, 255, 1) 100%
      ) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
    .gallery-marquee .gallery-col .box-image .gallery-customize {
      max-width: 250px !important;
    }

    .ldp-claim-row {
      background-image: url("/wp-content/uploads/2026/02/Intro-Section.png");
      border-radius: 24px;
      overflow: hidden;
      .content-img {
        padding: 0px !important;
      }
      .content-col {
        padding: 20px !important;
      }
    }
    //
    .phone {
      width: 100%;
      height: 525px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      @include desktop {
        height: 720px;
      }
    }

    .video-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      aspect-ratio: 9/16;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      background: #000;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* Overlay */
    .play-overlay {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: opacity 0.3s ease;
      background: rgba(0, 0, 0, 0.3);
    }

    .play-overlay.hide {
      opacity: 0;
      pointer-events: none;
    }

    .play-overlay::before {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.9);
      position: absolute;
    }

    .play-overlay::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 35px solid white;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      margin-left: 8px;
    }

    //
    .products {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      align-items: flex-end;
      margin-bottom: 40px;
      .product {
        text-align: center;
        img {
          max-width: 160px;
          height: auto;
        }
        h3 {
          margin-top: 12px;
          font-size: 16px;
          font-weight: 600;
          color: #1a2b6d;
        }
      }
    }

    .comparison-table {
      width: 100%;
      border-collapse: collapse;
      border: 0px !important;
      th {
        vertical-align: top;
        font-size: 14px;
        width: 25%;
        text-align: left;
        font-weight: 600;
        color: #555;
        padding: 20px !important;
        border: 0px !important;
        border-bottom: 1px solid #ececec !important;
        text-transform: capitalize;
        vertical-align: middle;
      }
      td {
        vertical-align: middle;
        font-size: 14px;
        width: 25%;
        color: #333;
        border: 0px !important;
        padding: 20px !important;
        border-bottom: 1px solid #ececec !important;
      }
    }
    .button-row th,
    .button-row td {
      padding: 40px 15px;
      border-bottom: none;
      text-align: center;
    }
    .compare-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 12px 28px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      background: $epos360-secondary;
      border-radius: 8px;
      transition: 0.25s ease;
      span {
        font-size: 16px;
        line-height: 1;
      }
      &:hover {
        background: $epos360-secondary;
      }
    }
    .row-easy-onboarding {
      background-color: #fff;
      padding: 30px;
      border-radius: 24px;
      box-shadow: $shadow;
      position: relative;
      .easy-onboarding-custom {
        position: relative;
        .icon-box {
          z-index: 1;
          &.has-bg-custom {
            .icon-box-img {
              background-color: $epos360-primary;
              border-radius: 100%;
              padding: 15px;
              z-index: 2;
            }
          }
          &::after {
            content: "";
            width: 90%;
            height: 2px;
            background-color: $epos360-primary;
            position: absolute;
            top: 32px;
            left: 20px;
            z-index: 1;
          }
          &:last-child::after {
            display: none;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .payment-teminal-banner {
        .button {
          width: 149px;
          height: 55px;
          display: inline-block;
          margin-right: 10px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
      .payment-teminal-banner .section-bg.bg-loaded {
        background-image: url(https://epos-staging.theshin.info/wp-content/uploads/2026/02/BlueTap-Background-Top-1-3-scaled.png) !important;
      }
      .comparison-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
      }

      .products,
      .comparison-table {
        min-width: 1000px;
      }

      .products {
        display: grid;
        grid-template-columns: 100px 300px 300px 300px;
        gap: 0;

        .product img {
          max-width: 100px !important;
        }

        .product {
          scroll-snap-align: start;
        }
      }

      .comparison-table {
        scroll-snap-align: start;
        table-layout: fixed;
        th:nth-child(1),
        td:nth-child(1) {
          width: 120px;
        }

        th:nth-child(2),
        td:nth-child(2),
        th:nth-child(3),
        td:nth-child(3),
        th:nth-child(4),
        td:nth-child(4) {
          width: 300px;
        }
      }
      .ps-0 {
        padding-left: 0 !important;
      }
      .pe-0 {
        padding-right: 0 !important;
      }
      .pt-0 {
        padding-top: 0 !important;
      }
      .pb-0 {
        padding-bottom: 0 !important;
      }
      .row-powerful {
        .col-powerful {
          &:nth-child(1) {
            padding-left: 0 !important;
            padding-right: 15px !important;
          }
          &:nth-child(2) {
            padding-left: 15px !important;
            padding-right: 0 !important;
          }
          &:nth-child(3) {
            padding-left: 0 !important;
            padding-right: 15px !important;
          }
          &:nth-child(4) {
            padding-left: 15px !important;
            padding-right: 0 !important;
          }
        }
      }
    }

    .floating-mail-btn,
    .wapp-chatCta {
      display: none;
    }
    .custom-accordion .accordion-item .accordion-title span {
      color: #001a32 !important;
      font-weight: 500 !important;
    }
  }
}
