footer {
  font-family: "Poppins", sans-serif !important;
  h3 {
    font-size: 18px;
    font-family: "Poppins", sans-serif !important;
  }
  .social-icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    .facebook img {
      width: auto;
    }
    .youtube img {
      width: auto;
      max-width: none;
    }
  }
  .footer-copyright {
    padding: 20px 0;
    border-top: 1px solid white;
  }
  .absolute-footer {
    display: none;
  }
  p,
  a,
  .text {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px;
  }
  .col > .col-inner > .text:not(:last-child) {
    color: $epos360-primary !important;
  }
  a:hover {
    color: $text-ldp !important;
  }
}
