.col-the-smarter-way {
  @include desktop {
    padding: 15px !important;
  }
  .col-inner {
    padding: 30px;
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &.bg-white {
    > .col-inner {
      background-color: white !important;
      box-shadow: $shadow !important;
    }
  }
}
.gallery-accepts {
  .col-inner {
    .gallery-custom {
      justify-content: center;
      align-items: center;
      .box-image {
        img {
          border-radius: 0px !important;
          object-fit: contain;
        }
      }
    }
  }
}

.payment-teminal-banner {
  @media (max-width: 768px) {
    .section-bg.bg-loaded {
      background-image: url("/wp-content/uploads/2025/11/EPOSMonogram_Pattern-Background_Mobile.svg") !important;
    }
  }
  .button {
    margin-bottom: 0px !important;
  }
}
body.payment-terminal {
  h3 {
    font-size: 18px !important;
    @include desktop {
      font-size: 20px !important;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  align-items: flex-end;
  margin-bottom: 40px;
  .product {
    text-align: center;
    img {
      max-width: 160px;
      height: auto;
    }
    h3 {
      margin-top: 12px;
      font-size: 16px;
      font-weight: 600;
      color: #1a2b6d;
    }
  }
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
  border: 0px !important;
  th {
    vertical-align: top;
    font-size: 14px;
    width: 25%;
    text-align: left;
    font-weight: 600;
    color: #555;
    padding: 20px !important;
    border: 0px !important;
    border-bottom: 1px solid #ececec !important;
    text-transform: capitalize;
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
    font-size: 14px;
    width: 37.5%;
    color: #333;
    border: 0px !important;
    padding: 20px !important;
    border-bottom: 1px solid #ececec !important;
  }
}
/* Mobile responsive */
@media (max-width: 768px) {
  .products {
    img {
      max-width: 70px;
      height: auto;
      object-fit: contain;
    }
  }

  .comparison-table {
    th {
      width: 30%;
      padding: 10px !important;
    }
    td {
      width: 30%;
      padding: 10px !important;
    }
  }
}

.spec-row {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 18px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  align-items: center;
  &:last-child {
    border-bottom: none;
  }
  .spec-label {
    font-weight: 600;
    color: #7a7a7a;
    font-size: 15px;
  }

  .spec-value {
    color: #7a7a7a;
    font-size: 15px;
    line-height: 1.6;
  }
}
