// TODO: centralize configs for all buttons
// maybe combine this with _buttons.scss
.html_topbar_right {
  display: flex !important;
  align-items: center;
  gap: 16px;
  
  &:hover {
    a {
      &::before {
        opacity: 0 !important;
      }
    }
  }

  a:hover {
    &::before {
      opacity: 1 !important;
    }
  }

  .menu-btn-demo,
  .menu-btn-shop {
    font-family: Poppins, sans-serif !important;
    font-weight: 600;
    padding: 4px 12px !important;
    border: transparent;
    font-size: 16px;
    border-radius: 8px !important;
    display: block;
    line-height: 43px !important;
    transition: all 0.3s linear;
    text-transform: capitalize;
    min-height: 55px;
    min-width: 152px;
    border: 2px solid $epos360-secondary !important;

    @include tablet {
      padding: 6px 24px !important;
      line-height: 40px !important;
      min-height: unset;
      min-width: unset;
    }

    &::before {
      display: none;
    }
  }

  .menu-btn-demo {
    color: white !important;
    background-color: $epos360-secondary !important;
    box-shadow: none !important;
    
    &:hover {
      color: white !important;
      background-color: $epos360-button-hover-alt !important;
      border-color: $epos360-button-hover-alt !important;
    }
  }

  .menu-btn-shop {
    background-color: transparent !important;
    color: $epos360-secondary !important;
    box-shadow: none !important;
    border-color: $epos360-secondary !important;

    &:hover {
      color: $epos360-button-hover-alt !important;
      background-color: $epos360-button-border !important;
    }
  }

  .menu-btn-demo,
  .menu-btn-shop {
    margin-right: 0;
  }

  @include tablet {
    .menu-btn-demo,
    .menu-btn-shop {
      display: inline-block;
    }
    .menu-btn-shop {
      margin-left: 0px;
    }
  }
}

//Heading

.shop-heading {
  position: relative;
  z-index: 2;
  b {
    background: none !important;
  }
  h2 {
    color: $blue;
    font-size: 2em !important;
  }
  span {
    text-transform: initial !important;

    position: relative;
    border: 0px !important;
    z-index: 1;
    background: #ffffff;
    padding: 2px 15px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 0.5px dotted #000000;
  }
}

//shop

.category-page-row {
  &.row {
    padding-top: 0px !important;
    max-width: 1320px !important;
  }
  .row {
    justify-content: center;

    max-width: 1320px !important;
  }
}

.woocommerce-shop {
  .shop-page-title {
    display: none;
  }
}
