$blue: #1b459b;
$blue-dark: #102870;
$blue-light: #EFF7FF;
$blue-light-2: #7989b6;
$title-icon-box-color:#001a32;
$green : #78d64b;
$color-ldp: #2eaf7d;
$color-ldp-2: #c7f1e0;
$main-ldp: #191a15;
$text-ldp: #777777;
$radius: 18px;
$main-font: "Montserrat", sans-serif !important;
$second-font: "PlusJakartaSans", sans-serif !important;
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
