@import "mixins";
@import "variables";
@import "component";
@import "buttons";
@import "shop";
@import "cart";
@import "additional";
@import "accordion";
@import "products";
@import "feedback";
@import "ldp";
@import "fonts/fonts";
@import "footer";
@import "./custom";
@import "./header";
@import "./cta-block";
@import "./related_post";
@import "./blog";
@import "./ai_marketing_page";
@import "infinite-scroll";
@import "./product_detail";
@import "./careers-page";
@import "./payment-teminal-page";
@import "./epos-360/main-epos360";
// @import "./epos360";
// @import "./gsap";
@import "./epos360-bluetap";
@import "./mobile_pos";
@import "./404";

.net-row {
  .col .col-inner {
    height: 100%;
  }
}
.net-testimonial {
  height: 100%;
  background: rgba(70, 164, 127, 1);
  padding: 30px;
  border-radius: 12px;
  .icon-box-text {
    width: 100%;
  }
  .star-rating span:before {
    color: #fff;
  }
  .testimonial-meta.pt-half {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .testimonial-name-divider {
    display: none;
  }
  .testimonial-company {
    color: #6ac19e;
  }
}

// Icon display screen
.cart-item {
  position: fixed !important;
  width: 50px;
  height: 50px;
  bottom: 90px;
  z-index: 9999;
  height: 50px;
  right: 30px;

  @include tablet {
    right: 35px;
  }
  @include desktop {
    right: 30px;
  }
  .image-icon {
    width: auto !important;
    height: auto;
    &::after {
      right: 0px !important;
    }
  }
  .image-icon img {
    max-width: 50px;
  }
  &:hover {
    transform: translateY(-10%);
  }
}

.epos-whatsapp-icon {
  position: fixed !important;
  width: 50px;
  height: 50px;
  bottom: 40px;
  z-index: 9999;
  height: 50px;
  @include tablet {
    right: 40px;
  }
  right: 30px;
}
.epos-whatsapp-icon.shop {
  bottom: 160px !important;
}
@media screen and (max-width: 1280px) {
  .container-width,
  .full-width .ubermenu-nav,
  .container,
  .row {
    max-width: 1140px !important;
  }
}
