body.whatsapp-loyalty-program {
  header#header,
  footer#footer {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
body.whatsapp-loyalty-program main {
  // background-image: url("/wp-content/uploads/2025/04/Group-253.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

body.whatsapp-loyalty-program main,
body.payment-soundbox main,
body.marketing-ai-page main,
body.rewards-loyalty-programme main {
  h1,
  h2,
  h3,
  h4,
  h5,
  span {
    font-family: $second-font;
  }
  h1,
  h2 {
    font-weight: 700;
  }

  h3,
  h4,
  h5 {
    font-weight: 400;
  }

  p,
  a {
    font-weight: 400;
    font-family: $main-font;
  }
  /* Modal styles */
  .modal.tes-modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
      background-color: #fff;
      margin: auto;
      padding: 30px 20px;
      @include tablet {
        padding: 50px;
      }
      width: 80%;
      max-width: 600px;
      border-radius: 10px;
      position: relative;
    }

    .close {
      color: #aaa;
      position: absolute;
      top: 0px;
      right: 20px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover {
      color: #000;
    }
  }
}
//Whatsapp Loyalty Program

body.whatsapp-loyalty-program main {
  .ldp-section-2 {
    padding-bottom: 0px !important;
  }
  .ldp-tab {
    justify-content: center;
    li {
      &:last-child {
        a {
          margin-right: 0px;
        }
      }
    }
    ul {
      max-width: 720px;
      background: #fff;
      box-shadow: $shadow;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 16px;

      @include tablet {
        margin-bottom: 40px;
        justify-content: space-between;
      }
    }
    li.active a {
      color: #fff !important;
      background: $color-ldp;
    }
    li a {
      letter-spacing: 0.03em;
      line-height: 2.4em;
      margin-right: 5px;
      padding: 0 10px;
      @include tablet {
        margin-right: 1em;
        padding: 0 1.2em;
      }
      margin-top: 0;
      max-width: 100%;
      min-height: 2.5em;

      text-align: center;
      text-transform: capitalize;
      font-size: 16px;
      color: $main-ldp;
      border-radius: 8px;

      &::before {
        display: none;
      }
    }
    .icon-box-text h3 {
      font-family: $second-font;
    }
    .tab-panels {
      #tab_registration,
      #tab_engagement {
        .row {
          flex-direction: column-reverse;
          @include tablet {
            flex-direction: row;
          }
        }
      }
    }
  }

  .ldp-bg-why-epos {
    background: url("/wp-content/uploads/2025/04/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius;
    overflow: hidden;
    @include only-mobile {
      .mobile-no-padding {
        .col-inner {
          padding-bottom: 0px !important;
        }
      }
    }
  }
  .sp-image {
    margin: 0px auto !important;
  }
  .why-choose-us {
    position: relative;
    .why-epos-col {
      position: static;
      & {
        .col-inner {
          position: static;
        }
      }
    }
    .why-epos {
      position: absolute;
      top: 10px;
      right: 0px;
      @include tablet {
        position: relative;
      }
    }
  }
  .psd-wrapper {
    .psd-col {
      position: static;
      & {
        .col-inner {
          position: static;
        }
      }
    }
    .psd-button {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 250px;
      @include tablet {
        left: 0px;
        transform: none;
        position: relative;
      }
    }
  }

  .ldp-accordion {
    .toggle {
      i {
        display: none;
      }
    }

    .accordion-item {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 3px;
        background-color: #cbd5e1;
      }
      &.shin {
        &::before {
          background-color: $color-ldp;
        }
      }
      margin-bottom: 20px;
      .accordion-title {
        border-top: 0px !important;
        font-size: 22px;
        padding-left: 25px;
        span {
          font-weight: 700;
          color: $main-ldp;
          line-height: 1;
        }
      }
    }
  }
  .section-image-box {
    .col .col-inner {
      height: 100%;
    }
    .ldp-image-box {
      height: 100%;
      background: url("/wp-content/uploads/2025/04/Frame-54.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $radius;
      overflow: hidden;
      padding: 15px;
      @include tablet {
        padding: 30px;
      }
      .box-text-inner {
        h3 {
          color: $main-ldp;
        }
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  .ldp-grant {
    padding-left: 0px;
    @include tablet {
      padding-left: 60px;
    }
    .ldp-heading-bg {
      padding: 15px;
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
      background: $color-ldp;
      h3 {
        margin-bottom: 0;
        font-weight: bold;
        color: #fff;
      }
    }
    .box {
      padding: 30px 50px;
      background: #fff;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  .icon-box-number {
    border-left: 3px solid $color-ldp;
    h3 {
      font-family: $main-font;
      font-weight: bold;
      color: $main-ldp;
      margin-bottom: 0px;
    }
    .icon-box-text {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .testimonial-slider {
    .tes-item {
      position: relative;
      max-width: 100%;
      padding-top: 40px !important;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tablet {
        max-width: 33%;
      }
      background: #fff;
      box-shadow: $shadow;
      padding: 24px;
      border-radius: $radius;
      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        top: -30px;
        right: -10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("https://www.epos.com.sg/wp-content/uploads/2025/05/bde-icon-icon.png");
      }
    }
    .box-image {
      img {
        height: 120px;
        object-fit: scale-down;
      }
    }
    .box-text {
      padding-bottom: 0px;
    }
    .tes-description {
      margin-top: 20px;
      p {
        min-height: 158px;
        @include tablet {
          min-height: 160px;
        }
      }
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;

      .read-more-icon {
        position: absolute;
        bottom: -15px;
        right: 0;
        padding: 5px 10px;
        background: #fff;
        cursor: pointer;
        font-size: 12px;
        color: #2eaf7d !important;
        font-weight: bold;
      }
      .learn-more-btn:nth-child(3) {
        display: none;
      }
    }
    .star-icon {
      max-width: 120px;
      margin-top: 10px;
      img {
        object-fit: scale-down;
        object-position: left;
      }
    }
    .slick-track {
      gap: 15px;
      margin-left: -12px;
      @include tablet {
        gap: 40px;
      }
    }
    .slick-list {
      padding-bottom: 5px !important;
      li {
        margin-left: 5px !important;
      }
    }
    .slick-list {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .ldp-col-accodior {
    padding-left: 0;
    padding-bottom: 280px !important;

    @include tablet {
      padding-bottom: 0px;
      padding-left: 50px;
    }

    .accodior-image {
      position: absolute;
      width: 100%;
      height: 100%;
      width: calc(100% - 10px) !important;
      max-width: 750px;
      z-index: 1;
      opacity: 0;
      left: 12px;
      right: 10px;

      @include tablet {
        left: 0px;
        right: auto;
      }
      &.open {
        opacity: 1;
        z-index: 2;
      }
    }
  }
  .image-left {
    max-width: 750px;
    height: 100%;
    right: 0;
    top: 0px;
    position: relative;
    @include tablet {
      position: absolute;
    }
    .img-inner {
      width: 100%;
      height: 100%;
      img {
        object-fit: scale-down;
        height: 100%;
      }
    }
  }

  .ldp-member-portal {
    @include tablet {
      max-width: 480px;
    }
  }
  .mkt-ai {
    .mkt-col {
      position: static;
      .col-inner {
        position: static;
      }
    }
    .btn-ldp.white {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 250px;
      @include tablet {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
      }
    }
  }
  .ldp-feature-img {
    img {
      width: auto !important;
      text-align: center;
      max-height: 60px;
      max-width: 100px;

      @include tablet {
        max-width: 120px;
      }
    }
    .gallery-col {
      display: flex;
      align-items: center;
      justify-content: center;
      .box-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .gallery-marquee {
    margin-top: -10px;
    margin-bottom: 20px;
    height: 120px;
    pointer-events: none;
    @include tablet {
      pointer-events: all;
    }
    // overflow: hidden;

    .gallery-customize {
      position: static;
      max-width: none !important;
      width: 100%;
      display: block !important;
      margin: 0 !important;
      height: 120px;
    }
    .gallery-col {
      height: 120px;
      width: 50%;
      min-width: 120px !important;
      max-width: 165px !important;
      flex-basis: auto !important;
      display: inline-block;
      padding: 0px !important;
      margin-left: 8px;
      @include tablet {
        max-width: 180px !important;
      }
      // position: absolute;

      @include tablet {
        position: relative;
      }
    }
    .box-image {
      padding: 0% !important;
      img {
        right: auto;
        width: 100%;
        height: 100%;
        bottom: auto;
        left: auto;
        top: auto;
        position: relative;
        object-fit: scale-down !important;
        max-height: 120px !important;
      }
    }
  }

  .customer-section {
    flex-direction: column-reverse;
    @include tablet {
      flex-direction: row;
    }
  }
}

//Sound Box Payment
body.payment-soundbox {
  footer#footer {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
body.payment-soundbox main {
  .modal.tes-modal {
    padding-top: 200px;
  }
  .section {
    padding-left: 0px;
    padding-right: 0px;
    @include tablet {
      padding-left: 60px;
      padding-right: 60px;
    }
    @include desktop {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .sound-box-image-box {
    .col {
      .col-inner {
        height: 100%;
      }
    }
    .ldp-image-box {
      background: #fff;
      box-shadow: $shadow;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 10px;
      img {
        object-fit: scale-down;
        max-height: 250px;
      }
    }
  }

  .ldp-claim-now {
    .section-content {
      padding: 0px 15px;
    }
  }
  .ldp-claim-row {
    background: $color-ldp;
    border-radius: 24px;
    overflow: hidden;
    background-image: url(https://www.epos.com.sg/wp-content/uploads/2025/05/Brand-Mark.png);
    .content-col {
      padding-left: 20px;
      @include tablet {
        padding-left: 50px;
      }
    }
    .content-img {
      padding: 0px !important;
    }
  }
  .see-it-icon {
    max-width: 160px;
    position: absolute;
    right: 0px;
    display: none;
    @include tablet {
      display: block;
    }
  }

  .testimonial-slider {
    .tes-item {
      position: relative;
      max-width: 100%;
      padding-top: 40px !important;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tablet {
        max-width: 33%;
      }
      background: #fff;
      box-shadow: $shadow;
      padding: 24px;
      border-radius: $radius;
      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        top: -30px;
        right: -10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("https://www.epos.com.sg/wp-content/uploads/2025/05/bde-icon-icon.png");
      }
    }
    .box-image {
      img {
        height: 120px;
        object-fit: scale-down;
      }
    }
    .box-text {
      padding-bottom: 0px;
    }
    .tes-description {
      margin-top: 20px;

      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      p {
        min-height: 155px;
        @include tablet {
          min-height: 160px;
        }
      }
      .read-more-icon {
        position: absolute;
        bottom: -15px;
        right: 0;
        padding: 5px 10px;
        background: #fff;
        cursor: pointer;
        font-size: 12px;
        color: #2eaf7d !important;
        font-weight: bold;
      }
      .learn-more-btn:nth-child(3) {
        display: none;
      }
    }
    .star-icon {
      max-width: 120px;
      margin-top: 10px;
      img {
        object-fit: scale-down;
        object-position: center;
      }
    }
    .slick-track {
      gap: 15px;
      margin-left: -12px;
      @include tablet {
        gap: 40px;
      }
    }
    .slick-list {
      padding-bottom: 5px !important;
      li {
        margin-left: 5px !important;
      }
    }
    .slick-list {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
