/* Font face for web template */
// Montserrat
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Regular",
  400
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Light",
  300
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Medium",
  500
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Bold",
  900
);

//PlusJakartaSans
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Regular",
  400
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Light",
  300
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Medium",
  500
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Bold",
  900
);

body {
  font-family: "Montserrat", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlusJakartaSans", sans-serif !important;
}
p,
a {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  span {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
  }
}

ul li {
  span {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
  }
}

body {
  h1,
  h2 {
    font-size: 28px !important;
    color: $blue-dark;
    line-height: 1.2em;

    @include tablet {
      font-size: 38px !important;
    }
    @include desktop {
      font-size: 48px !important;
    }
    span {
      font-size: 28px !important;
      font-family: "PlusJakartaSans", sans-serif !important;
      line-height: 1.2em;
      @include tablet {
        font-size: 38px !important;
      }
      @include desktop {
        font-size: 48px !important;
      }
    }
  }
  h3 {
    font-size: 22px !important;
    color: $blue-dark;
  }
}
.star-rating {
  font-size: 14px !important;
}

// testimonial

.testimonial-box {
  .testimonial-text {
    p {
      font-size: 14px;
    }
  }
}
