
body {
  font-family: $main-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}
p,
a {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

body {
  h1,
  h2 {
    font-size: 28px !important;
    color: $epos360-secondary;
    line-height: 1.2em;

    @include tablet {
      font-size: 38px !important;
    }
    @include desktop {
      font-size: 48px !important;
    }
    span {
      font-size: 28px !important;
      font-family: "PlusJakartaSans", sans-serif !important;
      @include tablet {
        font-size: 38px !important;
      }
      @include desktop {
        font-size: 48px !important;
      }
    }
  }
  h3 {
    font-size: 18px !important;
    color: $epos360-secondary;
    @include desktop {
      font-size: 20px !important;
    }
  }
}
.star-rating {
  font-size: 14px !important;
}

// testimonial

.testimonial-box {
  .testimonial-text {
    p {
      font-size: 14px;
    }
  }
}
