.cart-item {
  position: fixed !important;
  width: 50px;
  height: 50px;
  right: 2rem;

  bottom: 100px;
  z-index: 9999;
  height: 50px;
  @include tablet {
    right: 40px;
  }
  .image-icon {
    width: auto !important;
    height: auto;
    &::after {
      right: 0px !important;
    }
  }
  .image-icon img {
    max-width: 50px;
  }
  .epos-whatsapp-icon {
    position: fixed !important;
    width: 50px;
    height: 50px;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    height: 50px;
  }
}
.cart-container {
  &.page-checkout {
    th,
    table,
    td {
      border: none !important;
    }
  }
}

.shop_table {
  border: none !important;

  thead th {
    border-width: 0px !important;
  }
  th,
  table,
  td {
    border: none !important;
  }
  .button {
    background: #1b459b !important;
    opacity: 1 !important;
  }
  .button-continue-shopping {
    color: #1b459b !important;
    background: transparent !important;
    display: none;
  }
}

.cart-related-product {
  @include tablet {
    padding: 0px 8% !important;
  }
  .product-small.box {
    border: 1px solid #000000;
  }
  .product-description {
    display: none;
  }
  .box-image {
    img {
      max-height: 230px !important;
      object-fit: cover !important;
    }
  }
}

.back-shopping-section {
  * {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
  }
  .back-shopping-btn {
    .icon-box-img {
      display: flex;
      align-items: center;
    }
  }
}
.single_add_to_cart_button {
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

.table-cart {
  .wc-block-cart-items__header {
    .wc-block-cart-items__header-image span {
      font-size: 14px;
    }
    .wc-block-cart-items__header-total span {
      font-size: 14px;
    }
  }
}
.wc-block-components-sidebar {
  .wc-block-components-totals-item__label {
    font-size: 14px;
  }
  .wp-block-woocommerce-cart-order-summary-coupon-form-block {
    font-size: 14px;
  }
  .components-notice__content,
  .wc-block-components-totals-shipping__change-address-button {
    font-size: 14px !important;
  }
  .wc-block-cart__submit-container {
    a {
      text-transform: uppercase !important;
      background-color: #00315e !important;
    }
  }
  .wc-block-components-shipping-calculator {
    label {
      font-size: 14px !important;
    }
  }
  input[type="text"] {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: 1px solid #ddd !important;
    padding: 0 0.75em !important;
    height: 2.507em !important;
    font-size: 0.97em !important;
    border-radius: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    color: #333 !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s !important;
    -o-transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s !important;
    transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s !important;
    &:hover,
    :focus {
      -webkit-box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0) !important;
      box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0) !important;
    }
  }
}
.wc-block-components-totals-coupon__form
  .wc-block-components-totals-coupon__button {
  height: 35px !important;
  min-height: 1em !important;
}
.is-large.wc-block-cart .wc-block-cart__totals-title {
  padding: 0px !important;
}
.add_to_cart_button {
  margin-right: 0px !important;
}
.added_to_cart.wc-forward {
  display: none !important;
}
.add_to_cart_button.added {
  display: inline-block !important ;
}
.subtotal-custom {
  p {
    font-weight: 500;
    color: #1b459b;
  }
}
