//sell
.section-sell {
  position: relative !important;
  @include desktop {
    overflow: hidden;
  }
  .row-sell {
    position: relative;
    @include desktop {
      padding-top: 125px;
    }
    .col {
      position: relative;
      height: 100%;
      .col-inner {
        height: 100%;
        position: relative;
      }
    }
    .image-center {
      width: 444px !important;
      height: 612px !important;
    }
    .sell-absolute-center {
      @include desktop {
        position: absolute;
        right: -18px;
        top: -20px;
        width: 181px !important;
        height: 181px;
        z-index: 1;
      }
    }
    .sell-absolute-left {
      @include desktop {
        position: absolute;
        left: 154px;
        top: 264px;
        width: 288px;
        height: 288px;
        z-index: 1;
      }
    }

    .sell-absolute-right {
      @include desktop {
        position: absolute;
        left: -53px;
        top: 320px;
        width: 360px;
        height: 304px;
        z-index: 1;
      }
    }
  }
}
