.section-manage {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .row-manage {
    position: relative;
    @include desktop {
        padding-top: 125px;
    }

    .col {
      position: relative;
      height: 100%;
      .col-inner {
        // height: 100%;
        position: relative;
      }
    }
    .manage-absolute-left {
      @include desktop {
        &.v1 {
          position: absolute;
          left: -5px;
          top: 345px;
          width: 330px;
          height: 284px;
          z-index: 1;
        }
      }
    }
    .manage-absolute-right {
      @include desktop {
        &.v1 {
          position: absolute;
          left: -9px;
          top: 390px;
          width: 330px;
          height: 284px;
          z-index: 1;
        }
        &.v2 {
          position: absolute;
          left: -104px;
          top: 10px;
          width: 204px;
          height: 268px;
          z-index: 2;
        }
      }
    }
  }
  .image-center-col {
    position: relative;
    .image-center {
      &.v1,
      &.v2 {
        @include desktop {
          position: absolute;
          left: 50%;
          top: 30px;
          z-index: 1;
          transform: translateX(-50%) !important;
        }
      }
    }
  }
  /* FRAME = MASK */
  .image-center.phone-frame {
    position: relative;
    // overflow: hidden;
    z-index: 3;
    height: 734px !important;
    width: 728px !important;
  }

//   .image-center.phone-frame::after {
//     content: "";
//     position: absolute;
//     inset: 9% 9%;
//     overflow: hidden;
//     pointer-events: none;
//   }

  /* SCREEN */
  .image-center.phone-screen {
    position: absolute;
    z-index: 5;
    height: 734px !important;
    width: 728px !important;
    top: 0px;
    left: 0px;
  }
}
