  .intro-section-epos360 {
    background: #0a22aa;
    background: linear-gradient(
      180deg,
      rgba(10, 34, 170, 1) 20%,
      rgba(12, 28, 115, 1) 80%
    );
    .title-section-download {
      h2 {
        line-height: 45px !important;
        font-weight: bold !important;
        letter-spacing: -0.48px !important;
        margin-bottom: 23px;
      }
    }
    .content-section-download {
      p {
        font-size: 18px !important;
        font-weight: 400 !important;
        letter-spacing: 0px !important;
        line-height: 27px !important;
        margin-bottom: 15px;
        color: #D1D5DB !important;
      }
    }
    .cta-image {
      &.app-store {
        width: 141.5px !important ;
        height: 45.9px !important;
      }
      &.gg-play {
        width: 161.85px !important ;
        height: 48px !important;
      }
    }
  }