.section-manage {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .row-manage {
    position: relative;
    @include desktop {
      padding-top: 125px;
    }

    .col {
      position: relative;
      height: 100%;
      .col-inner {
        // height: 100%;
        position: relative;
      }
    }
    .manage-absolute-left {
      @include desktop {
        &.v1 {
          position: absolute;
          left: 96px;
          top: 318px;
          width: 240px;
          height: 384px;
          z-index: 1;
        }
      }
    }
    .manage-absolute-right {
      @include desktop {
        &.v1 {
          position: absolute;
          left: -9px;
          top: 390px;
          width: 330px;
          height: 284px;
          z-index: 1;
        }
        &.v2 {
          position: absolute;
          left: -104px;
          top: 10px;
          width: 284px;
          height: 251px;
          z-index: 2;
        }
      }
    }
  }
  .image-center-col {
    position: relative;
    .image-center {
      &.v1,
      &.v2 {
        @include desktop {
          position: absolute;
          left: 50%;
          top: 30px;
          z-index: 1;
          transform: translateX(-50%) !important;
        }
      }
    }
  }
}

/* =============================
  PHONE WRAPPER
============================= */
.phone-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  @include desktop {
    width: 728px;
    height: 734px;
  }
}

/* =============================
  PHONE FRAME
============================= */
.phone-frame {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.phone-frame img {
  width: 100%;
  display: block;
}

/* =============================
  PHONE SCREEN
============================= */
.phone-screen {
  position: absolute;
  z-index: 4;
  overflow: hidden;
  top: 48px;
  left: 8%;
  width: 300px;
  height: 77%;
  @include desktop {
    top: 75px;
    left: 30%;
    width: 240px;
    height: 55%;
  }
  @include large-desktop {
    top: 75px;
    left: 30%;
    width: 250px;
    height: 55%;
  }
}

/* =============================
  HEADER
============================= */
.screen-header {
  position: relative;
  width: 170px;
  height: 26px;
  margin-left: 20px;
}

.screen-header-item {
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  width: 170px;
  height: 26px;
}

.screen-header-item.active {
  opacity: 1;
}

/* =============================
  BODY
============================= */
.screen-body {
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 500px;
  @include desktop {
    width: 100%;
    height: 421px;
  }
}

.screen-body-item {
  position: absolute;
  @include desktop {
    width: 100%;
    height: 421px;
    inset: 0;
  }
  inset: auto;
  width: 100%;
  height: 421px;
  top: 6%;
}

/* =============================
  SCREEN IMAGE
============================= */
.phone-screen-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
