.epos360-banner {
  position: relative;
  background: #ffffff;
  overflow: hidden;
  padding-bottom: 0px !important;
  .images-hero-row {
    position: relative;
    .image-absolute-left-1 {
      position: absolute;
      left: 42px;
      top: 18px;
      width: 240px !important;
      height: 160px !important;
      z-index: 1;
    }
    .image-absolute-left-2 {
      position: absolute;
      left: 140px;
      top: 200px;
      width: 260px !important;
      height: 180px !important;
      z-index: 1;
    }
    .image-absolute-left-3 {
      position: absolute;
      left: 319px;
      top: 492px;
      width: 100px !important;
      height: 114px !important;
      z-index: 1;
    }
    .image-absolute-right-1 {
      position: absolute;
      right: 75px;
      top: 27px;
      width: 200px !important;
      height: 166.67px !important;
      z-index: 1;
    }
    .image-absolute-right-2 {
      position: absolute;
      right: 148px;
      top: 260px;
      width: 240px !important;
      height: 160px !important;
      z-index: 1;
    }
    .image-absolute-right-3 {
      position: absolute;
      right: 304px;
      top: 468px;
      width: 110px !important;
      height: 136px !important;
      z-index: 1;
    }
    .image-center-1 {
      .img-inner {
        position: relative;
      }
      z-index: 2;
    }
    .image-center-2 {
      z-index: 1;
    }
    .image-center-1,
    .image-center-2 {
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%) !important;
      opacity: 0;
      visibility: hidden;
      will-change: transform, opacity;
      @include tablet {
        width: 86.5% !important ;
      }
      @include desktop {
        width: 71% !important;
      }
    }
    .hero-images-360 {
      height: 100%;
      .col-inner {
        @include desktop {
          height: 658px;
        }
        @include tablet {
          height: 600px;
        }
        height: 312px;
      }
    }
  }
  .sub-title {
    p {
      font-size: 20px;
      font-weight: 600 !important;
      line-height: 26px !important;
      letter-spacing: 0px !important;
      @include desktop {
        font-size: 24px !important;
        font-weight: 600 !important;
        margin-bottom: 23px !important;
        line-height: 31.2px !important;
        letter-spacing: -0.02em !important;
      }
    }
  }
  h1{
    @include only-mobile{
      font-size: 36px !important;
      line-height: 45px !important;
      letter-spacing: -0.72px !important;
    }
  }
}
/* HERO ABSOLUTE ITEMS – HIDDEN ON LOAD */
.epos360-banner .image-absolute-left-1,
.epos360-banner .image-absolute-left-2,
.epos360-banner .image-absolute-left-3,
.epos360-banner .image-absolute-right-1,
.epos360-banner .image-absolute-right-2,
.epos360-banner .image-absolute-right-3 {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0) scale(0.85);
  will-change: transform, opacity;
}
