.section-loan {
  position: relative;
  overflow: hidden;
  .row-loan {
    position: relative;
    @include desktop {
      padding-top: 80px;
    }
    .col {
      position: relative;
      height: 100%;
      .col-inner {
        height: 100%;
        position: relative;
      }
    }
    .image-center {
      @include desktop {
        width: 586px !important;
        height: 586px !important  ;
      }
    }
    .loan-absolute-left {
      @include desktop {
        position: absolute;
        left: 70px;
        top: 250px;
        width: 160px;
        height: 269px;
        z-index: 1;
      }
      @include large-desktop {
        position: absolute;
        left: 122px;
        top: 250px;
        width: 181px;
        height: 269px;
        z-index: 1;
      }
    }
    .loan-absolute-center {
      @include desktop {
        position: absolute;
        right: -250px;
        top: -37px;
        width: 234px !important;
        height: 192px !important;
        z-index: 1;
        display: flex;
        flex-direction: column-reverse;
        .box-text {
          padding: 5px;
        }
      }
      @include large-desktop {
        position: absolute;
        right: -72px;
        top: -37px;
        width: 276px !important;
        height: 192px !important;
        z-index: 1;
        display: flex;
        flex-direction: column-reverse;
        .box-text {
          padding: 5px;
        }
      }
    }

    .loan-absolute-right {
      @include desktop {
        position: absolute;
        left: -115px;
        top: 357px;
        width: 345px;
        height: 194px;
        z-index: 1;
      }
      @include large-desktop {
        position: absolute;
        left: -146px;
        top: 357px;
        width: 400px;
        height: 194px;
        z-index: 1;
      }
    }
  }
}
